################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Library/v15/Server/sqlite3
/Library/Services/SessionSQLService.cs
/Library/Services/CreateService.cs
/Library/Services
/Library/ReturnBooksForm.resx
/Library/ReturnBooksForm.Designer.cs
/Library/ReturnBooksForm.cs
/Library/obj/Debug/Library.ReturnBooksForm.resources
/Library/obj/Debug/Library.HandOverForm.resources
/Library/obj/Debug/Library.ConditionBookForm.resources
/Library/obj/Debug
/Library/HandOverForm.resx
/Library/HandOverForm.Designer.cs
/Library/HandOverForm.cs
/Library/ConditionBookForm.resx
/Library/ConditionBookForm.Designer.cs
/Library/ConditionBookForm.cs
/Library/bin/Debug/Domain.pdb
/Library/bin/Debug/Domain.dll
/Library/bin/Debug
/Library
/Domain/Properties/AssemblyInfo.cs
/Domain/Properties
/Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Domain/obj/Debug/Domain.pdb
/Domain/obj/Debug/Domain.dll
/Domain/obj/Debug/Domain.csprojAssemblyReference.cache
/Domain/obj/Debug/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/Domain.csproj.CopyComplete
/Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Domain/Domain.csproj
/Domain/Domain.cs
/Domain/bin/Debug/NHibernate.xml
/Domain/bin/Debug/NHibernate.dll
/Domain/bin/Debug/Domain.pdb
/Domain/bin/Debug/Domain.dll
/Domain/bin/Debug/Config/NHiberConfig.cfg.xml
*.xml
*.suo
*.ide-wal
*.ide-shm
*.ide
*.lock
